.img-coffee{
    width: 35% !important;
}
.cBody{
    width: 50 !important;
}
.card{ 
    max-width: 16rem!important;
}
.logo{
    margin-left: 160px!important; 
}
.catergory{
    padding-left: 31px!important;
    padding-right: 57px!important; 
}
.show-cart li {
    display: flex;
}
.list-group{
    flex-direction: row !important;
}

.list-group-item-action:hover{
    background-color: #f5df1a !important;
}
.list-group-item-action::after{
    background-color: #e06716 !important;
}
/* user css */

/* .tableCenterContent {
    padding-top: 20rem!important;
    text-align: center !important;
  } */
